In [5]:
#importing the necessaryb libararies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import ylim, title, ylabel, xlabel

In [16]:
#implementing the moving average class
class MovingAverageFilter(object):
    
    def __init__(self, window):
        self.window = window
        self.data = []
        
    def step(self, measurement):
        self.data.append(measurement)
        if len(self.data) > self.window:
            self.data.pop(0)
            
    def current_state(self):
        return sum(self.data)/ len(self.data)

In [ ]:
#implementing the Kalman Class

In [2]:
hurricane_data = pd.read_csv("hurricanes.csv")

In [4]:
hurricane_data

       tid  sid  latitude  longitude                 time  wind          label
0     1374    1      28.4      -67.0  2005-09-05 18:00:00    30  LOW_INTENSITY
1     1374    1      28.4      -66.6  2005-09-06 00:00:00    35  LOW_INTENSITY
2     1374    1      28.5      -66.5  2005-09-06 06:00:00    40  LOW_INTENSITY
3     1374    1      28.5      -66.5  2005-09-06 12:00:00    50  LOW_INTENSITY
4     1374    1      28.6      -66.4  2005-09-06 18:00:00    50  LOW_INTENSITY
...    ...  ...       ...        ...                  ...   ...            ...
1985  1475    3      20.9      -87.1  2011-10-28 06:00:00    50  LOW_INTENSITY
1986  1475    3      21.4      -86.9  2011-10-28 12:00:00    40  LOW_INTENSITY
1987  1475    3      21.7      -86.4  2011-10-28 18:00:00    25  LOW_INTENSITY
1988  1475    3      21.8      -85.3  2011-10-29 00:00:00    20  LOW_INTENSITY
1989  1475    3      21.5      -84.2  2011-10-29 06:00:00    20  LOW_INTENSITY

[1990 rows x 7 columns]

In [6]:
hurricane_data.drop_duplicates(subset=["longitude", "latitude", "time"], inplace=True, )

       tid  sid  latitude  longitude                 time  wind          label
0     1374    1      28.4      -67.0  2005-09-05 18:00:00    30  LOW_INTENSITY
1     1374    1      28.4      -66.6  2005-09-06 00:00:00    35  LOW_INTENSITY
2     1374    1      28.5      -66.5  2005-09-06 06:00:00    40  LOW_INTENSITY
3     1374    1      28.5      -66.5  2005-09-06 12:00:00    50  LOW_INTENSITY
4     1374    1      28.6      -66.4  2005-09-06 18:00:00    50  LOW_INTENSITY
...    ...  ...       ...        ...                  ...   ...            ...
1985  1475    3      20.9      -87.1  2011-10-28 06:00:00    50  LOW_INTENSITY
1986  1475    3      21.4      -86.9  2011-10-28 12:00:00    40  LOW_INTENSITY
1987  1475    3      21.7      -86.4  2011-10-28 18:00:00    25  LOW_INTENSITY
1988  1475    3      21.8      -85.3  2011-10-29 00:00:00    20  LOW_INTENSITY
1989  1475    3      21.5      -84.2  2011-10-29 06:00:00    20  LOW_INTENSITY

[1990 rows x 7 columns]

In [9]:
testing_data.columns

Index(['id', 'latitude', 'longitude', 'track_id', 'time'], dtype='object')

In [ ]:
#TODO => Form the base dataset and understand the structure
#TODO => implement the moving average class and test with window 5, 20 and 30
#TODO => Find the various lengths of the 5, 20, 20 window
#TODO => Implement the Kalman class
#TODO => Try both their demonstrations

In [15]:
#setting up the structure of the data that
longitudes = np.array(hurricane_data['longitude'])
latitudes = np.array(hurricane_data['latitude'])

len(longitudes) == len(latitudes), len(latitudes)

(True, 1990)

In [22]:
#implementing the moving average across 5, 20, 30

#initializing the lists
moving_average_latitude_5 = []
moving_average_latitude_20 = []
moving_average_latitude_30 = []

moving_average_longitude_5 = []
moving_average_longitude_20 = []
moving_average_longitude_30 = []

#initializing the moving average classes
moving_5 = MovingAverageFilter(5)
moving_20 = MovingAverageFilter(20)
moving_30 = MovingAverageFilter(30)

#implemeting moving average on the latitude
for latitude in latitudes:
    
    moving_5.step(latitude)
    moving_20.step(latitude)
    moving_30.step(latitude)
    
    moving_average_latitude_5.append(moving_5.current_state())
    moving_average_latitude_20.append(moving_20.current_state())
    moving_average_latitude_30.append(moving_30.current_state())
    
#implementing moving average on the longitude
for longitude in longitudes:
    
    moving_5.step(longitude)
    moving_20.step(longitude)
    moving_30.step(longitude)
    
    moving_average_longitude_5.append(moving_5.current_state())
    moving_average_longitude_20.append(moving_20.current_state())
    moving_average_longitude_30.append(moving_30.current_state())
    
#test that the values are equal in length and they equal 1990
len(moving_average_latitude_5) == len(moving_average_latitude_20) == len(moving_average_latitude_30) == 1990

True

In [ ]:
#Now to implement moving average